@using QCO.Reports
@model DevExpress.XtraReports.UI.XtraReport

@{
    ViewData["Title"] = "Document Viewer";
}

<!-- DevExpress Report Viewer CSS -->
<link rel="stylesheet" href="~/css/viewer.part.bundle.css" />
<script src="~/js/viewer.part.bundle.js"></script>

<div class="container mt-3">
    <h2 class="text-center">Report Viewer</h2>
    <div class="card shadow-lg p-3">
        @Html.DevExpress().WebDocumentViewer("DocumentViewer").Height("1000px").Bind(Model)
    </div>
</div>
